body {
    margin: auto;
    background: #7E0909;
    padding: 30px;
    
}


.tab-pane {
    background: white;
    text-align: center;
    padding: 10px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.container {
    width: 800px;
}

.nav-tabs li a {
    color: black;
    background: white; 
    box-shadow: inset 0 -2px 0 0 #7E0909;
}

.nav {
    color: black;
}

.nav-tabs > li.active > a {
    box-shadow: inset 0 0 0 0 ;
}

.profile {
    border-radius: 50%;
    border: solid #7E0909;
}

.skills {
    display: inline-block;
}

#header h1,h3 {
    line-height: 10px;
}

#workExperience {
    text-align: left;
}